[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
environ = "*"
mysqlclient = "*"
django-adminlte3 = "*"
razorpay = "*"
localstoragepy = "*"
pdfkit = "*"
wkhtmltopdf = "*"
stripe = "*"
django-payments = {extras = ["stripe"], version = "*"}
qrcode = "*"
pillow = "*"
pip = "*"
install = "*"
pypdf2 = "*"
django-compressor = "*"
django-cron = "*"
django-crontab = "*"
mysql = "*"
"mysql.connector" = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.9"
