{% extends 'adminlte/base.html' %}

{% block content %}

<div id="content-main" class="container-fluid">
    
    
    
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post" id="client_form" novalidate=""><input type="hidden" name="csrfmiddlewaretoken" value="18kzeRXyUU6nij8NyeFn3BATuksszoPW6qBovxvytSNIuToiqkrpUvsZh42VmDGm">

                
                
                
                

                
                
                <div class="card card-info">
    <div class="card-header bg-primary">
        <h3 class="card-title"></h3>
        
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
    </div>
    <div class="card-body">
        
        <div class="form-group row form-row field-client_name">
            
            
            <label for="client_name" class="col-sm-2 col-form-label"><label class="required" for="id_client_name">Client name:</label></label>
            <div class="col-sm-10">
                

                
                <input type="text" name="client_name" class="vTextField" maxlength="50" required="" id="id_client_name">
                
                
                
            </div>


            
        </div>
        
        <div class="form-group row form-row field-contact_number">
            
            
            <label for="contact_number" class="col-sm-2 col-form-label"><label class="required" for="id_contact_number">Contact number:</label></label>
            <div class="col-sm-10">
                

                
                <input type="number" name="contact_number" class="vIntegerField" required="" id="id_contact_number">
                
                
                
            </div>


            
        </div>
        
        <div class="form-group row form-row field-email">
            
            
            <label for="email" class="col-sm-2 col-form-label"><label class="required" for="id_email">Email:</label></label>
            <div class="col-sm-10">
                

                
                <input type="email" name="email" class="vTextField" maxlength="254" required="" id="id_email">
                
                
                
            </div>


            
        </div>
        
        <div class="form-group row form-row field-created_on">
            
            
            <label for="created_on" class="col-sm-2 col-form-label"><label class="required">Created on:</label></label>
            <div class="col-sm-10">
                

                
                <p class="datetime">
  Date: <input type="text" name="created_on_0" value="2023-03-17" class="vDateField" size="10" required="" id="id_created_on_0"><span class="datetimeshortcuts">&nbsp;<a href="#">Today</a>&nbsp;|&nbsp;<a href="#" id="calendarlink0"><span class="date-icon" title="Choose a Date"></span></a></span>

<br>
  Time: <input type="text" name="created_on_1" value="05:05:00" class="vTimeField" size="8" required="" id="id_created_on_1"><span class="datetimeshortcuts">&nbsp;<a href="#">Now</a>&nbsp;|&nbsp;<a href="#" id="clocklink0"><span class="clock-icon" title="Choose a Time"></span></a></span>


</p><input type="hidden" name="initial-created_on_0" value="2023-03-17" id="initial-id_created_on_0"><input type="hidden" name="initial-created_on_1" value="05:05:00" id="initial-id_created_on_1">
                
                
                
            </div>


            
        </div>
        
        <div class="form-group row form-row field-updated_on">
            
            
            <label for="updated_on" class="col-sm-2 col-form-label"><label>Updated on:</label></label>
            <div class="col-sm-10">
                

                
                <p class="datetime">
  Date: <input type="text" name="updated_on_0" value="2023-03-17" class="vDateField" size="10" id="id_updated_on_0"><span class="datetimeshortcuts">&nbsp;<a href="#">Today</a>&nbsp;|&nbsp;<a href="#" id="calendarlink1"><span class="date-icon" title="Choose a Date"></span></a></span>

<br>
  Time: <input type="text" name="updated_on_1" value="05:05:00" class="vTimeField" size="8" id="id_updated_on_1"><span class="datetimeshortcuts">&nbsp;<a href="#">Now</a>&nbsp;|&nbsp;<a href="#" id="clocklink1"><span class="clock-icon" title="Choose a Time"></span></a></span>


</p><input type="hidden" name="initial-updated_on_0" value="2023-03-17" id="initial-id_updated_on_0"><input type="hidden" name="initial-updated_on_1" value="05:05:00" id="initial-id_updated_on_1">
                
                
                
            </div>


            
        </div>
        
    </div>
</div>
                
                

                

                
                
                

                

                
<div class="submit-row">



<input type="submit" value="Save" class="default" name="_save">






<input type="submit" value="Save and add another" name="_addanother">

<input type="submit" value="Save and continue editing
" name="_continue">




</div>


                
                <script type="text/javascript" id="django-admin-form-add-constants" src="/static/admin/js/change_form.js" data-model-name="client">
                    </script>
                

                
                
<script id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]">
</script>



            </form>
        </div>
    </div>
</div>

{% endblock %}

