{% extends 'adminlte/base.html' %}


{% block external_link %}
<script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
<style>
    body{
        height: 100vh;
    }
</style>
{% endblock %}


{% block content %}
<h2>Total sales Analysis</h2>
<h3>{{ chartTitle|safe }}</h3>
<div id="chart-1">{{ output|safe }}</div>
<br/>
{% endblock %}