{% extends 'frontend/base.html' %}


{% load compress %}

{% block extra_style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% compress css %}
<link rel="stylesheet" href="/static/css/tickets/tickets.css">


{% endcompress %}

<style>
  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
  }


  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }


  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }

    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }

    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }

    to {
      bottom: 0;
      opacity: 0;
    }
  }

  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }

    to {
      bottom: 0;
      opacity: 0;
    }
  }

  input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  if (localStorage.getItem('event_id') == null) {
    window.location.href = '/'
  }
</script>

{% endblock extra_style %}
{% block extra_section %}
<div id="snackbar">Some text some message..</div>

<!-- 
<section>
  <div class="square_box box_three"></div>
  <div class="square_box box_four"></div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-12">
        <div style="display: none;
        position: fixed;
        top: 11%;
        left: 26%;
        border-radius: 7%;
        background: gray;
        color: wheat;"
          class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show"
          role="alert" id="error" data-brk-library="component__alert">
          <button style="position: absolute;
          left: 92%;
          top: -31%;
          width: 41px;" type="button" class="close font__size-18" data-dismiss="alert" onclick="close_error()">
            <span aria-hidden="true">
              <i class="fa fa-times danger "></i>
            </span>
            <span class="sr-only">Close</span>
          </button>
          <i class="start-icon far fa-times-circle faa-pulse animated"></i>
          <strong class="font__weight-semibold"></strong> Plesse select the dates
        </div>
      </div>
    </div>
  </div>
</section> -->
{% endblock extra_section %}
{% block content %}
<div id="spinner-overlay">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <button class="btn btn-primary" type="button" disabled>
      Loading...
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
  </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="center-wrapper">
  <div class="content">
    <div class="bag">
      <p class="bag-head"><span style="text-transform: uppercase">Your Bag</span> - 1 item</p>
    </div>
    <div class="bag-product">
      <div class="image" id="main_img">

      </div>
      <div class="description">
        <!-- <form id="my_form" method="post">
          {% csrf_token %}
          <h4 style="margin-top: 20px;">Select Dates</h4>
          <div style="display: flex; flex-direction: row; padding: 10px;" id="date-selector"></div>

        </form> -->
        <form action='/tickets/' method="post">
          {% csrf_token %}
          <h1 class="event_name_"></h1>

          <input type="hidden" name="event_name" style="color: black; font-size: larger; border: none;"
            class="event_name">
          <p class="description-text">An easy-to-use dive computer with freedive mode and air integration.</p>

          <p style="margin-bottom: 0.5rem;">book your tickets</p>

          <i class="ticket_pricee" style="text-decoration: solid; font-weight: 800;">{{payment_curruncy}}</i>
          <h2 class="ticket_price"></h2>

          <h4 style="margin-top: 20px;">Select Dates</h4>
          <div style="display: flex; flex-direction: row; padding: 10px;" id="date-selector"></div>




          <div class="quantity-wrapper">
            <div style="display: flex; flex-direction: row;">
              <label for="quantity" style="margin-right: 0.5rem;">Quantity:</label>
              <select name="ticket_type" style="margin-bottom: 1rem; width: 200px; background: none;"
                class="ticket_type">
                <option value="please_select" selected>Please select</option>
                <option value="VIP">VIP</option>
                <option value="BASE">BASE</option>
              </select>

              <div style="display: flex; flex-direction: row;">
                <input type="button" class="decrementer" value="-" id="decrementer">
                <input name="quantity" type="number" class="set_quantity" readonly>
                <input type="button" class="incrementer" value="+" id="incrementer">
              </div>

            </div>
          </div>
          <div class="bag-total">
            <div class="subtotal">
              <h1 class="large">Total:</h1>
              <h2 class="subtotal_price">0</h2>
            </div>
            <div>
              <p>Enter your name:</p>
              <input required id="user_name" type="text" name="user_name" /> <br>
              <p>Enter your phone number:</p>
              <input required id="phone" type="tel" name="phone" />
              <p>Enter your email:</p>
              <input required id="email" type="email" name="email" />
            </div>
            <div class="tota">
              <!-- <h3 class="total">0</h3> -->
              <input name="total" style="border: none; color: black; font-size: large;" type="hidden" name=""
                class="total">
            </div>
            <button>
              <input type="button" value="CheckOut" id="pay-btn">
              <span class="first"></span>
              <span class="second"></span>
              <span class="third"></span>
              <span class="fourth"></span>
            </button>
          </div>
          <div class="help" style="margin-top: 5px;">
            <p>Need help? Call free {{company_Phone}}</p>
          </div>
      </div>

      <div class="bg"></div>

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

      <div class="ticket_show text-black">
        </form>
      </div>


      {% endblock %}


      {% block script %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
      {% compress js %}
      <script>


        if (localStorage.getItem('event_type') == 'free') {
          console.log("no tickets")
          document.querySelector('.ticket_type').style.display = "none"
          document.querySelector('.ticket_price').style.display = "none"
          document.querySelector('.subtotal').style.display = "none"
          document.querySelector('.ticket_price').style.display = "none"
          document.querySelector('.ticket_pricee').style.display = "none"
        }

        </script>
        {% endcompress %}
        <script>


        $(document).ready(function () {
          var event_id = localStorage.getItem('event_id');
          $.post('/event_detail/', { event_id: event_id }, function (data) {
            // temp = "DAY"
            for (var i = 0; i <= data.date_diff; i++) {
              var date = new Date(data.event_from);
              date.setDate(date.getDate() + i);
              temp = "DAY" + i
              $('#date-selector').append('<input style = "margin: 10px;" type="checkbox" name="event_dates" value="' + date.toDateString() + '"> ' + date.toDateString() + '<br>');
              console.log(date.toDateString());
            }
          });
        });





        // function close_error() {
        //   document.querySelector('#error').style.display = "none"
        // }
        if (document.querySelector('.ticket_type').value == "please_select") {
          $('.ticket_price').html(0)
          $('.total').html(0)
          $('.subtotal_price').html(0)
          $('.set_quantity').val(1)
          document.querySelector('#incrementer').disabled = true

        }
        const phoneInputField = document.querySelector("#phone");
        const emailInputField = document.querySelector("#email");
        const phoneInput = window.intlTelInput(phoneInputField, {
          utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });





        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.startsWith(`${name}=`)) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }

        $input_box = $('.set_quantity')
        $incrementer = $('.incrementer')
        $ticket_price = $('.ticket_price')
        $decrementer = $('.decrementer')
        document.querySelector(".set_quantity").value = 1



        document.getElementById("pay-btn").onclick = function (e) {
          var checkedValues = [];
          var checkboxes = document.querySelectorAll('input[name="event_dates"]:checked');

          for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
              checkedValues.push(checkboxes[i].value);
            }
          }
          console.log(checkedValues)
          if (checkedValues.length == 0) {
            $('.toast-body').html('please select the dates')
            document.querySelector('.toast-notification').style.display = 'block';
          }
          else {
            document.querySelector('.toast-notification').style.display = 'none';
          }
          console.log("clicked", localStorage.getItem('event_type'))
          if (document.querySelector('#email').value && document.querySelector('#email').value.includes('@') && document.querySelector('#email').value.includes('.') && document.querySelector('#phone').value && document.querySelector('#user_name').value && document.querySelector('.set_quantity').value != 0  ) {
            if (localStorage.getItem('event_type') == 'free') {
              const csrftoken = getCookie("csrftoken");
              $.ajax({
                url: "/freepay/",
                type: 'POST',
                data: {

                  'user_name': document.querySelector('#user_name').value,
                  'event_id': localStorage.getItem('event_id'),
                  'event_name': document.querySelector('.event_name').value,
                  'ticket_count': document.querySelector('.set_quantity').value,
                  'ticket_type': 'none',
                  'event_id': localStorage.getItem('event_id'),
                  'total': 0,
                  'email': emailInputField.value,
                  'phone': parseInt(phoneInputField.value),
                  'csrfmiddlewaretoken': csrftoken,

                },
                success: function (response) {
                  console.log(response)
                  window.location.href = '/success/'
                },
              })
              document.querySelector('#spinner-overlay').style.display = 'block'
              e.preventDefault();
            } else {
              const csrftoken = getCookie("csrftoken");
              total = document.querySelector('.total')
              $.ajax({
                url: "/razorpay/",
                type: 'POST',
                data: {
                  'event_dates': checkedValues.join(', '),
                  'user_name': document.querySelector('#user_name').value,
                  'event_id': localStorage.getItem('event_id'),
                  'event_name': document.querySelector('.event_name').value,
                  'ticket_count': document.querySelector('.set_quantity').value,
                  'ticket_type': document.querySelector('.ticket_type').value,
                  'event_id': localStorage.getItem('event_id'),
                  'total': total.value,
                  'email': emailInputField.value,
                  'phone': parseInt(phoneInputField.value),
                  'csrfmiddlewaretoken': csrftoken,
                },
                success: function (response) {
                  console.log(response)

                  var options = {
                    key: response.razorpay_merchant_key,
                    amount: response.razorpay_amount,
                    currency: response.currency,
                    name: document.querySelector('.event_name').value,
                    order_id: response.razorpay_order_id,
                    callback_url: response.callback_url,
                    prefill: {
                      "name": "Enter name",
                      "email": "name@gmail.com",
                      "contact": "9999999999"
                    },
                  }

                  var rzp1 = new Razorpay(options);

                  rzp1.open();
                  document.querySelector('#spinner-overlay').style.display = 'block'

                }
              })
              e.preventDefault();


            }
          }
          else {
            document.querySelector('.toast-notification').style.display = 'block';
          }
        }

        $ticket_div = $('.ticket_show')
        get_ticket = localStorage.getItem('event_id')
        console.log(get_ticket)

        $.ajax({
          url: `/popup_data/${localStorage.getItem('event_id')}`,
          type: 'GET',
          success: function (response) {
            event_id = 0
            for (var i = 0; i < response.event_item.length; i++) {
              console.log("id", response.event_item[i].event_id)
              if (response.event_item[i].event_id == get_ticket) {
                var event_id = i
              }
            }

            if (localStorage.getItem('event_type') != 'free') {
              console.log(response)
              count_base = response.tickets_item[0].ticket_count
              count_vip = response.tickets_item[1].ticket_count
              document.querySelector('.ticket_price').innerHTML = response.tickets_item[1].ticket_price + "-" + response.tickets_item[0].ticket_price
            }

            var persentage = (response.event_item[event_id].remain_tickets / response.event_item[event_id].total_count) * 100
            console.log("persentage", persentage)
            if (persentage <= 50 && persentage > 20) {
              var x = document.getElementById("snackbar");
              x.className = "show";
              x.style.backgroundColor = 'green'
              x.innerHTML = "Fast Filling , Hurry Up !"
              setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
            } else if (persentage <= 20 && persentage > 0) {
              var x = document.getElementById("snackbar");
              x.className = "show";
              x.style.backgroundColor = 'red'
              x.innerHTML = "Only Few Tickets Left !"
              setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
            } else {
              var x = document.getElementById("snackbar");
              x.className = "show";
              x.style.backgroundColor = 'black'
              x.innerHTML = "Book now !"
              setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            }


            $decrementer.click(function () {
              if (document.querySelector(".set_quantity").value > 1) {
                $input_box.val(parseInt($input_box.val()) - 1)

                if (document.querySelector('.ticket_type').value == 'BASE') {
                  console.log(response.tickets_item)
                  // response.tickets_item[1].ticket_count -= parseInt($input_box.val())
                  if (response.tickets_item[0].ticket_count < count_base) {

                    response.tickets_item[0].ticket_count += 1
                    console.log(response.tickets_item[0].ticket_count)
                  }
                  else {
                    alert("Tickets are not available")
                    document.querySelector(".set_quantity").value = count_base
                  }
                }
                if (document.querySelector('.ticket_type').value == 'VIP') {
                  // response.tickets_item[1].ticket_count -= parseInt($input_box.val())
                  if (response.tickets_item[1].ticket_count < count_vip) {

                    response.tickets_item[1].ticket_count += 1
                    console.log(response.tickets_item[1].ticket_count)
                  }
                  else {
                    alert("Tickets are not available")
                    document.querySelector(".set_quantity").value = count_vip
                  }
                } else {

                  response.event_item[event_id].remain_tickets += 1
                  console.log(response.event_item[event_id].remain_tickets)
                }
                document.querySelector('.total').value = document.querySelector(".set_quantity").value * document.querySelector('.ticket_price').innerHTML
                document.querySelector('.subtotal_price').innerHTML = document.querySelector(".set_quantity").value * document.querySelector('.ticket_price').innerHTML
                response.event_item[event_id].remain_tickets = response.event_item[event_id].remain_tickets + 1
                console.log("hey", response.event_item[event_id].remain_tickets)
              }
            });

            $incrementer.click(function () {

              $input_box.val(parseInt($input_box.val()) + 1)
              if (response.event_item[event_id].remain_tickets <= 1) {
                // alert("Tickets are not available")
                console.log('if')
              }
              else {

                console.log('else')
                console.log("remain_tickets", response.event_item[event_id].remain_tickets)
                if (document.querySelector('.ticket_type').value == 'BASE') {

                  console.log(response.tickets_item)
                  // response.tickets_item[1].ticket_count -= parseInt($input_box.val())
                  if (response.tickets_item[0].ticket_count > 1) {

                    response.tickets_item[0].ticket_count -= 1
                    console.log(response.tickets_item[0].ticket_count)
                  }
                  else {
                    alert("Tickets are not available")
                    document.querySelector(".set_quantity").value = count_base
                  }
                }
                if (document.querySelector('.ticket_type').value == 'VIP') {
                  // response.tickets_item[1].ticket_count -= parseInt($input_box.val())
                  if (response.tickets_item[1].ticket_count > 1) {

                    response.tickets_item[1].ticket_count -= 1
                    console.log("......", response.tickets_item[1].ticket_count)
                  }
                  else {
                    alert("Tickets are not available")
                    document.querySelector(".set_quantity").value = count_vip
                  }
                }
                response.event_item[event_id].remain_tickets = response.event_item[event_id].remain_tickets - 1

                console.log("hey", response.event_item[event_id].remain_tickets)

                document.querySelector('.total').value = document.querySelector(".set_quantity").value * document.querySelector('.ticket_price').innerHTML

                document.querySelector('.subtotal_price').innerHTML = document.querySelector(".set_quantity").value * document.querySelector('.ticket_price').innerHTML

              }
          })
            document.querySelector('.event_name').value = response.event_item[event_id].name
            document.querySelector('.event_name_').innerHTML = response.event_item[event_id].name
            console.log("...........", response.event_item[event_id].event_name)
            document.querySelector('.image').style.backgroundImage = "url(/" + response.event_item[event_id].Image + ")"
            if (response.event_item[event_id].has_tickets == true) {

              document.querySelector('.ticket_type').addEventListener('change', function () {
                $('.ticket_price').html(0)
                $('.total').html(0)
                $('.subtotal_price').html(0)
                $('.set_quantity').val(1)
                document.querySelector('#incrementer').disabled = false
                // print(response.tickets_item)
                if (document.querySelector('.ticket_type').value == response.tickets_item[0].ticket_type) {
                  console.log(response.tickets_item)
                  document.querySelector('.ticket_price').innerHTML = response.tickets_item[0].ticket_price
                }
                else if ((document.querySelector('.ticket_type').value == response.tickets_item[1].ticket_type)) {
                  document.querySelector('.ticket_price').innerHTML = response.tickets_item[1].ticket_price
                } else if (document.querySelector('.ticket_type').value == "please_select") {
                  document.querySelector('.ticket_price').innerHTML = response.tickets_item[1].ticket_price + "-" + response.tickets_item[0].ticket_price
                  $('.ticket_price').html(0)
                  $('.total').html(0)
                  $('.subtotal_price').html(0)
                  $('.set_quantity').val(1)
                  document.querySelector('#incrementer').disabled = true

                }



              })


            } else {
              $('.ticket_price').html(0)
              $('.total').html(0)
              $('.subtotal_price').html(0)
            }

          }

        })

      </script>

      {% endblock script %}