{% extends 'adminlte/base.html' %}
<!-- Set title of app -->
{% block title %}{% endblock %}

<!-- Specify content of main body of page -->
{% block content %}

<div class="wlcm-main">
  {% comment %} <img class="wlcm-img" src="static/images/lee-blanchflower-1dW1vEJLlCQ-unsplash.jpg" alt="event"> {% endcomment %}
  <div class="wlcm-text">
    <h1>Welcome to event Management</h1>
  <h3>Event Management Dashboard</h3>
  </div>
</div>
  



{% endblock %}



{% block external_link %}
<link rel="stylesheet" href="static/css/style.css">
{% endblock %}